version: 2.1
jobs:
  remix-plugin:
    docker:
      - image: cimg/node:20.19.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn install
      - run: yarn build
      - run: yarn test
      
workflows:
  version: 2
  build_all:
    jobs:
      - remix-plugin
